* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.contenedor {

    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
}

header {
    border: 5px solid #3d9ee0;
    background: rgb(230,81,52);
    background: linear-gradient(229deg, rgba(230,81,52,1) 12%, 
    rgba(149,45,24,1) 20%, rgba(193,64,36,1) 30%,
     rgba(244,105,78,1) 41%, rgba(182,18,18,1) 51%, rgba(238,46,51,1) 94%);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo img {
    animation: tiembla 0.3s infinite;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    width: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}


.stats {
    width: 35px;
    padding: 3px;
}

.brillo {
    position: relative;
    display: block;
    height: 70px;
    width: 170px;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    -webkit-box-shadow: -18px 200px 200px -56px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -18px 200px 200px -56px rgba(0, 0, 0, 0.75);
    box-shadow: -18px 200px 200px -56px rgba(0, 0, 0, 0.75);
}

.brillo span {
    position: relative;
    display: block;
    background: url(brillo.png) no-repeat;
    margin-top: -70px;
    height: 100px;
    width: 190px;
    background-size: 185px 250px;
    -webkit-animation: displace 10s linear;
    -moz-animation: displace 10s linear;
    animation: displace 10s linear infinite;
    animation-duration: 2s;
}

@-webkit-keyframes displace {
    from {
        background-position: -800px;
    }
    to {
        background-position: 800px;
    }
}

@keyframes displace {
    from {
        background-position: -800px;
    }
    to {
        background-position: 800px;
    }
}

@keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(0.9); }
    100%{ -webkit-transform:rotateZ( 10deg); }
  }

.main {
    border: 5px solid #3d9ee0;
    background: rgb(222, 184, 49);
    background: linear-gradient(236deg, rgba(222, 184, 49, 1) 48%, 
    rgba(191, 141, 31, 1) 73%, rgba(191, 141, 31, 1) 93%);
    padding: 20px;
    height: 100%;
}

.main .main-left {
    margin-bottom: 20px;
    padding-bottom: 20px;
    flex: 1 1 65%;
    padding-right: 180px;
    padding-left: 180px;
}

.pokemon {
    width: 100%;
    height: 300px;
    display: block;
    position: flex;
    animation: bounce 3s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

.pokemon2 {
    width: 100%;
    display: block;
}

.pokemon2:after {
    content: "";
    display: block;
    width: 13%;
    height:2%;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 13px 50px 16px 2px;
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 40px, 0);
    }
}

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotar {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.nombre_header {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #ffff;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.nombre {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #3d9ee0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    background: #fff;
    margin: 0 0 25px;
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 10px solid rgba(255, 149, 0, 1);
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.main .main-right {
    background: #e67e22;
    flex: 1 1 35%;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #fff;

    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 10px solid rgba(50, 173, 230, 1);
}

.stats_panel {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.statvalue {
    padding: 5px;
    padding-top: 0px;
    display: flex;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #2294b1;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    justify-content: space-around;
}

.statname {
    padding: 10px;
    padding-top: 35px;
    display: flex;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #266DBE;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    justify-content: space-around;
}

footer {

    border: 5px solid #3d9ee0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards_title{
    flex: 1 1 35%;
    padding-top: 0px;
    display: flex;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #2294b1;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    justify-content: space-around;
}
.nada{
    padding: 10px;
}
.cards{
    flex: 1 1 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    position: relative;
}


.cards a img{
    flex-grow: 1;

    text-align: center;
    text-decoration: none;
}

.cards a img:hover {
    
    color: rgba(255, 255, 255, 1) !important;
    border: 15px solid #3d9ee0;
    transition: all 0.2s ease;
    animation: rotar 3s;
  
  
}


@media screen and (max-width: 800px) {
    .contenedor {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        padding: 0;
    }
    header .logo {
        margin: 20px 0;
    }
    .cards_title{
        flex-direction: column;
        padding: 10px;
    }
    .main .main-left {
        margin-bottom: 20px;
        padding-bottom: 20px;
        flex: 1 1 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .main .main-right {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .stats_panel {
        flex-direction: row;
    }
    .statvalue {
        flex-direction: row;
    }
    .statname {
        flex-direction: row;
    }
    footer {
        flex-direction: column;
        padding: 0;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding: 0;
    }
    .cards_title{
        flex-direction: column;
        padding: 30px;
    }
    header .logo {
        margin: 20px 0;
    }
    .main .main-right {
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 20px;
    }
    footer {
        flex-direction: column;
        padding: 0;
        justify-content: space-around;
    }
    .pokemon {
        width: 100%;
        height: 300px;
        display: block;
        position: relative;
        margin-bottom: -74px;
    }
    .fila {
        display: flex;
        flex-direction: row;
    }
    .stats_panel {
        flex-direction: column;
    }
    .stats_panel .statvalue {
        width: 0;
        flex-direction: row;
        padding-left: 40px;
        padding-top: 30px;
        text-align: left;
        display: inline-block;
    }
    .stats_panel .statname {
        width: 50%;
        padding-left: 40px;
        flex-direction: row;
        padding-right: 40px;
        flex-direction: row;
        text-align: left;
        display: inline-block;
    }
    .main .main-left {
        padding-right: 0px;
        padding-left: 0px;
    }
}